@use "sass:color";

// Variables
$green: #22b1a3;
$whiteGreen: #e9f7f6;
$blackGreen: #072321;
$black : #000000;
$white : #ffffff;
$montserrat: 'Montserrat', sans-serif;
$manrope: 'Manrope', sans-serif;

// Base styles
html{
  background: $white;

  * {
    margin: 0;
  }
  
  body {
    font-family: $manrope;
    font-size: 1em;
    background-color: $blackGreen;

    header, footer {
      background-color: $white;
      padding: 20px 50px;
      margin: 0;
      text-align: center;
  
      .title {
        font-size: 2.5em;
        color: $black;
        font-family: $montserrat;
      }
    
      .lien-icone img {
        width: 4em;
        height: 4em;
      }
    }
  
    main {
      section {
        margin: 0;
        padding: 50px 20px 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        h2 {
          font-size: 1.5em;
          font-family: $montserrat;
          margin-bottom: 25px;
          color: $green;
        }
    
        .addBookAndSearchForm{
          width: 100%;
          
          .addBookButton {
            display: block;
            margin: auto;
            height: 30px;
            width: 130px;
            padding: 0px 20px; 
            background: linear-gradient(#187c72, #bde8e3);
            color: $white;
            border: none;
            border-radius: 50px;

            &:hover {
              background: linear-gradient(#0a3531, #64c8bf);
              cursor: pointer;
            }
          }
      
          form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            margin: 0;
            color: $white;
      
            .searchButton{
              display: block;
              height: 30px;
              width: 130px;
              padding: 0px 20px;
              margin: 20px auto; 
              background: linear-gradient(green, #bde8e3);
              color: $white;
              border: none;
              border-radius: 50px;

              &:hover {
                background: linear-gradient(#0a3531, green);
                cursor: pointer;
              }
            }

            .cancelButton{
              display: block;
              margin: auto;
              height: 30px;
              width: 130px;
              padding: 0px 20px; 
              background: linear-gradient(red, #bde8e3);
              color: $white;
              border: none;
              border-radius: 50px;

              &:hover {
                background: linear-gradient(#0a3531, red);
                cursor: pointer;
              }
            }
          }
        }
    
        hr {
          color: transparent;
        }
      
        article {
    
          width: 320px;
          height: auto;
          padding: 15px;
          background-color: $whiteGreen;
          border-radius: 20px;
    
          &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          }
    
          .titleIdAuthorButton {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
    
            h4 {
              font-size: 0.8em;
              font-style: italic;
              margin-top: 5px;
            }
          
            h5 {
              font-size: 0.8em;
              font-style: italic;
              font-weight: 300;
              margin-top: 5px;
            }
    
            .iconeButton {
              background-color: transparent;
              border: none;
              cursor: pointer;
    
              .fa-trash {
                font-size: 20px;
                background: linear-gradient(#0a3531, red);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &:hover{
                  background: linear-gradient(red, #bde8e3);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
    
              .fa-bookmark {
                font-size: 20px;
                background: linear-gradient(#0a3531, green);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &:hover{
                  background: linear-gradient(green, #bde8e3);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
            }  
          }    
        
          p {
            font-size: 0.8em;
            margin-top: 5px;
          }
        
          img {
            width: 150px;
            height: 210px;
            display: block;
            margin: 10px auto 5px auto;
          }
        }
        
        #savedBooks {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;
      
          article {
            &:hover {
              box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    
      #searchResults {
        background-color: $white;
    
        #googleBooks {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;
        }
      }
    }
  }
}



// Responsive design
//tablets
@media (min-width: 768px) {
 
}

//desktops
@media (min-width: 1024px) {

}
